body{
	background:#FFCC00

;

	font-family: sans-serif;
}

h2{
	text-align: center;
	color: #333;
}

form{
	top: -40px;
	transform: translate(-20%,-20%);
	width: 150%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	position: absolute;
}

label{
	display: block;
	margin-bottom: 10px;
	color: #333;
}

input[type="text"], input[type="password"]{
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

input[type="submit"]{
	background-color: #f68e0b;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 450px;
	position: relative;
	left: 15px;
	bottom: 20px;
}

a{
	display: block;
	text-align: center;
	margin-top: 20px;
	color: #333;
	z-index: 100;
}

.Login-caja {
 
color: #000;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box; 
padding: 7px 3px;
font-weight: bold;
}

.Login-caja .avatar{

width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -230px;
left: calc(43% - 40px);
z-index: 100;
}