/* CONFIGURACIÓN BASE */
body {
    background-color: #fcc404; /* Fondo Amarillo Burger */
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    padding: 20px;
}

/* HEADER ORGANIZADO */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 6px solid #000;
    padding: 10px 30px;
    box-shadow: 10px 10px 0px #000;
    margin-bottom: 40px;
}

header h1 {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px;
}

/* BOTÓN VOLVER (Neo-brutalista) */
.btn-volver-brutal {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #000;
    color: #fff !important;
    text-decoration: none;
    font-weight: 900;
    font-size: 12px;
    padding: 10px 15px;
    border: 3px solid #000;
    box-shadow: 4px 4px 0px #dd1919;
    transition: 0.1s;
}

.btn-volver-brutal:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px #000;
}

/* CARRITO (EL CONTENEDOR FLOTANTE) */
.container-cart-products {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #fff !important;
    width: 350px !important;
    z-index: 1000;
    border: 6px solid #000 !important; 
    box-shadow: 12px 12px 0px #000 !important; 
    padding: 20px !important;
}

.hidden-cart { display: none; }

/* TIENDA: CUADRÍCULA DE PRODUCTOS */
.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    background: #fff;
    border: 5px solid #000;
    box-shadow: 8px 8px 0px #000;
    transition: 0.2s;
}

.item:hover { transform: translate(-4px, -4px); box-shadow: 12px 12px 0px #000; }

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 5px solid #000;
}

.info-product { padding: 20px; text-align: center; }

.info-product h2 { font-size: 20px; text-transform: uppercase; margin: 10px 0; }

.price { font-size: 24px; color: #dd1919; font-weight: 900; }

.btn-add-cart {
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    padding: 15px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.btn-add-cart:hover { background: #dd1919; }

/* CARRITO INTERNO */
.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 3px solid #000;
    margin-bottom: 10px;
}

.boton {
    display: block;
    background: #dd1919;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: 900;
    border: 4px solid #000;
    box-shadow: 5px 5px 0px #000;
}